@{
    ViewData["Title"] = "Ban Page";
}

<link href="~/css/Home.css" rel="stylesheet" type="text/css" />
<body>
    <div class="text-center">
        <h1 style="font-size:10vw">You Are Ban! </h1>
        <h4>Contact Us to know why you have been ban.</h4>

    </div>
</body>