@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/Home.css" rel="stylesheet" type="text/css" />
<body>

    <div class="text-center">
        <h1 class="display-4">About US </h1>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <h2>Our Organization</h2>

                <p>
                    We are a non government oraganization that specialize in recycling and improving the environment with technology.
                </p>


            </div>

            <div class="col-md-6">
                <h2>Goals</h2>

                <p>
                    Our goal is to clean the environment, improve the living area for wild animals and reduce plastic pollution. Therefore, Recycling is the way to go.
                </p>

            </div>
        </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <h2>Objectives</h2>

                    <p>
                        Our current objective is to make our recycling website widely known to communities in the cities and expending to the outskirt later on.
                    </p>

                </div>
                <div class="col-md-6">
                    <h2>How does this works?</h2>

                    <p>
                        Our platform links you to recycling plants by having a driver come on demand and collect your plastic recycling materials.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/Image/1.png" alt="Image" height="250" width=100%>
                </div>
                <div class="col-md-4">
                    <img src="/Image/2.jpg" alt="Image" height="250" width=100%>
                </div>
                <div class="col-md-4">
                    <img src="/Image/3.jpg" alt="Image" height="250" width=100%>
                </div>
            </div>
       
        </div>
</body>